body {
  min-width: 350px;
  height: auto;
}

header {
  background-color: #333745;
  height: auto;
}

header h1 {
  margin: 0;
  color: white;
  font-family: Monaco;
  font-size:52px;
  text-align: center;
  padding: 60px 0 20px 20px;
}

header h2 {
  margin: 0;
  color: white;
  font-family: 'Times New Roman';
  font-size: 20px;
  text-align: center;
  padding: 60px 0 20px 20px;
}

main {
  background-color: #FEFCEC;
  height: auto;
}

main {
  text-align: center;
}

/* This line of code centers the image and determines its width. */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

main h3 {
  color: black;
  font-family: Monaco;
}

main p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* This line of code below styles the bullet points. Without it, it goes to default settings. */

main li {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

footer {
  background-color: #333745;
  color: white;
  text-align: center;
  height: auto;
  margin: 20px 0 0 0;
  padding: 20px 0;
}
